{% extends 'General/modalbase.html' %}
{% set modaltitle %}Edit "{{item.name}}"{% endset %}
{% set modaltitlecolor %}#{{color}}{% endset %}
{% set colorpicker %}
        <button type="button" data-function="PhotobumAdmin.albumColorPicker" class="btn btn-default btn-xs color pull-right" aria-hidden="true">
            <i class="fa fa-paint-brush"></i>
        </button>
        <input type="text" data-code="{{color}}" data-pal="{% for c in colors %}{{c.code}},{% endfor %}" class="color-album color-changed" value="#{{color}}" />
{% endset %}

{% block content %}
<div class="modal-body">
    <form id="add_album">
        
        {# album id #}
        <!-- <input type="hidden" id="base_path" value="{{page.base_path}}"> -->
        <input type="hidden" id="id" value="{{item.id}}">
        
        {# name field #}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name ="name" placeholder="Name..." value="{{item.name}}">
        </div>

        {# start , end date fields #}
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="start_date">Start Date</label>
                <div class='input-group date' id='start_date'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>

            <div class="form-group col-xs-6">
                <label for="end_date">End Date</label>
                <div class='input-group date' id='end_date'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-info update-dates" data-function="PhotobumAdmin.updateDates">
            <i class="fa fa-refresh"></i>
        </button>
        
        {# label #}
        <div class="form-group">
            <label for="album_images">Photos</label>
            <div class="row"><small class="col-xs-12 form-text text-muted">
                Max files: {{get_ini('max_file_uploads')}}&nbsp;|
                Max upload size: {{get_ini('upload_max_filesize')}}&nbsp;|
                Max post size: {{get_ini('post_max_size')}}&nbsp;|
                Memory limit: {{get_ini('memory_limit')}}
            </small></div>
        </div>
        {# files in db #}
        <div class="list-group files" id="previews">
            {% set index = 1000000 %}
            {% set weight = 0 %}

            {% for m in media %}
                {% set index = index + 1 %}
                <div class="list-group-item image-preview list-group-item-info {% if m.type == 'video' %}video-preview-item{% endif %}" data-id="{{m.id}}" data-index="{{index}}">
                    
                    <span class="preview">
                        {% if m.type == 'image' %}
                        <img class="saved-file" src="{{img(m.url, 'small')}}">
                        {% endif %}
                        {% if m.type == 'video' %}
                        <video class="saved-file" width="320" height="210" controls>
                            <source src="{{video(m.url, 'md')}}" type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video>
                        {% endif %}
                    </span>
                    
                    <div class="file-date-taken">{{m.date_taken}}</div>
                    <div class="dz-size file-size" data-dz-size>{{m.size}}</div>

                    <div class="">
                        <small class="album-list-name">{{m.name}}</small><br>
                        <small class="make-model">{{m.camera}}</small>
                        <p class="size">{{m.size}}</p>
                    </div>

                    <div class="file-status">
                        <i class="fa fa-database"></i>
                    </div>

                    <span class="btn btn-danger btn-xs remove-media-file remove-file" data-index="{{index}}">
                        <i class="fa fa-remove"></i>
                    </span>

                </div>
            {% endfor %}

            {# dropzone preview #}
            {% include 'Admin/partials/dropzone-album.html' %}

        </div>

        {# dropzone input #}
        <div class="form-group">
            <span class="btn btn-success fileinput-button dz-clickable">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add files...</span>
            </span>
        </div>
        {% set index = 1000000 %}
        <div id="img_urls" class="hidden">
            {% for m in media %}
                {% set index = index + 1 %}
                <input class="img_url_db img_weight" data-id="{{m.id}}" data-type="{{m.type}}" data-filename="{{m.name}}" data-index="{{index}}" data-weight="{{m.weight}}" name="img_url[]" value="{{m.url}}">
            {% endfor %}
        </div>

        {# location field #}
        <div class="form-group">
            <label for="location_name">Location</label>
            <input value="{{item.location_name}}" type="text" class="form-control" id="location_name" name="location_name" placeholder="Location name...">
        </div>
        
        {# map #}
        <div class="panel panel-default panel-map">
            <div class="">
                <div id="album_map"></div>
            </div>
        </div>
        {% set index = 1000000 %}
        <div id="album_markers">
            {% for l in locations %}
                {% set index = index + 1 %}
                <input class="hidden album_loc" data-index="{{index}}" name="album_loc[]" value="{{l.lat}},{{l.lng}}">
            {% endfor %}
        </div>

        {# body  field #}
        <div class="form-group">
            <label for="album_body">Body</label>
            <div class="form-control" data-tinymce id="album_body">{{item.body|raw}}</div>
        </div>

        {# persons selection #}
        <div class="form-group">
            <label for="assign_person">Assign Persons</label>
            <select class="form-control select2-multiple" multiple="multiple" id="album_persons">
                {% for p in persons %}
                <option value="{{p.id}}" {% if p.checked == 1 %}selected="selected"{% endif %} class="album_person" name="persons[]">
                    {{p.person_name}}
                </option>
                {% endfor %}
            </select>
        </div>

        <script type="text/javascript">

            $(function () {
                $('#start_date').datetimepicker(
                    {
                        format: 'DD-MM-YYYY, HH:mm:ss',
                        date: moment('{{item.start_date}}')
                    }
                );
                $('#end_date').datetimepicker(
                    {
                        format: 'DD-MM-YYYY, HH:mm:ss',
                        date: moment('{{item.end_date}}'),
                        useCurrent: false
                    }
                );

                $('#start_date').on('dp.change', function (e) {
                    $('#end_date').data("DateTimePicker").minDate(e.date);
                });
                $("#end_date").on("dp.change", function (e) {
                    $('#start_date').data("DateTimePicker").maxDate(e.date);
                });

            });

        </script>

    </form>
</div>
{% endblock content %}
{% block footer %}
<button type="button" class="btn btn-danger delete-button pull-left" data-id="{{item.id}}" data-name="{{item.name}}" data-function="PhotobumAdmin.deleteAlbum">Delete</button>
<div class="form-group pull-left">
    <input type="checkbox" id="album_private" name="album_private" data-checkbox="privateToggle" {% if item.private == 0 %}checked{% endif %}>
</div>
<button type="button" class="btn btn-default cancel-button" data-dismiss="modal"><span>Cancel</span></button>
<button type="button" class="btn btn-success ladda-button save-button" data-style="zoom-out" data-function="PhotobumAdmin.addAlbum"><span class="ladda-label">Save</span></button>
{% endblock footer %}