{% extends 'Admin/base.html' %}
{% block content %}
<div class="container">

    <div id="toolbar">
        <button type="button" class="btn btn-primary" data-size="album-edit" data-remote="/admin/albums/add">Add Album</button>

        <div class="filters pull-right">
            <select class="form-control filter-year">
                {% for y in years %}
                <option value="{{y.year}}">{{y.year}}</option>
                {% endfor %}
            </select>
        </div>

    </div>
    
    <div class="albums-container">
    
        {% for row in data %}
        <div class="item{% if row.private == 0 %} private{% endif %}" style="border-top:5px solid #{{row.color}}">
            
            <td>{{row.name}}</td>

            <td>
            {% set media = row.media %}
            {% for m in media %}
                <img width="55" src="{{img(m.url, 500, 500)}}" data-thumb="make" data-thumb-width="500" data-thumb-height="500" data-thumb-fit="no" data-thumb-org="{{m.url}}">
            {% endfor %}
            </td>
            <td>{{row.date}}</td>
            <td><time data-no-date="Never" data-utc="{{row.created}}" class="localdate timeago" datetime="{{row.created}}"></time></td>
            <td>
                <button type="button" class="btn btn-primary pull-right" data-size="album-edit" data-remote="/admin/albums/edit/id/{{row.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-danger pull-right" data-dir="{{row.media_dir}}" data-id="{{row.id}}" data-url="{{row.url}}" data-name="{{row.name}}" data-function="PhotobumAdmin.deleteAlbum"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                <a type="button" class="btn btn-default pull-right" rel="noopener noreferrer" target="_blank" href="{{row.url}}" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
            </td>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock content%}