vendor
bower_components
node_modules

*.cache

.php_cs.cache
php-cs-fixer.phar

*.js.map
*.css.map
*.orig

LocalConfig.php

*.log
.sass-cache
*.scssc

*.DS_Store

/assets


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
