{% extends 'General/modalbase.html' %}
{% set modaltitle %}Edit "{{item.person_name}}"{% endset %}
{% block content %}
<div class="modal-body">
    <form id="add_person">
        
        <input type="hidden" id="id" value="{{item.id}}">
        
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name..." value="{{item.person_name}}">
        </div>

<!--         <div class="form-group">
            <label for="chose-color">Colors</label>
            <input type="text" class="form-control" data-pal="{% for c in colors %}{{c.code}},{% endfor %}" id="select-color">
        </div> -->

    </form>
</div>
{% endblock content %}
{% block footer %}
<button type="button" class="btn btn-danger pull-left" data-id="{{item.id}}" data-name="{{item.person_name}}" data-function="PhotobumAdmin.deletePerson">Delete</button>
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<button type="button" class="btn btn-success" data-function="PhotobumAdmin.addPerson">Save</button>
{% endblock footer %}