<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'Admin/partials/metahead.html' %}
</head>

<body class="page-{{page.body_class}} device-{{page.device}} {% if page.user_settings[0]['menu_collapsed'] == 1 %}sidebar-collapsed{% endif %}">

{% include 'Admin/partials/modal.html' %}

<div id="main-wrapper">

	<header class="main-header">
		{% include 'Admin/partials/header.html' %}
	</header>

	<aside class="main-sidebar">
		{% include 'Admin/partials/sidebar.html' %}
	</aside>
	
	<div class="main-content">
	    {% block content %}{% endblock %}
	</div>

	<footer class="main-footer">
	    {% include 'Admin/partials/footer.html' %}
	</footer>
</div>

{% include 'General/partials/onready.html' %}

<div id="messages"></div>

</body>
</html>
