{% extends 'Admin/base.html' %}
{% block content %}
<div class="container">
    
  <div class="panel">
    
    <div class="header">
    	<h1>Albums Colors</h1>
    </div>
    
    <div class="panel-content" id="albums-colors">
    	{% for c in colors %}
    		<div class="color-item">
                <div class="color-name">{{c.name}}</div>
    			<input type="text" data-id="{{c.id}}" data-code="{{c.code}}" class="color-person hidden" value="{{c.code}}" />
    		</div>
    	{% endfor %}
    </div>
	
  </div>


<button type="button" class="btn btn-success ladda-button save-button" data-style="zoom-out" data-function="PhotobumAdmin.saveColors"><span class="ladda-label">Save</span></button>
</div>

{% endblock content%}