{% extends 'Admin/base.html' %}
{% block content %}
<div class="container">
    
    <div class="panel">
{#     
        <div class="header">
        	<h1>User Settings</h1>
        </div>
        
        <div class="panel-content">

    			<button type="button" class="btn btn-default" data-type="album" data-function="PhotobumAdmin.addColor"><span class=""><i class="fa fa-plus-square-o"></i></span></button>
        	
        	{% for c in albums_colors %}
        		<div class="color-item">
        			<input type="text" data-id="{{c.id}}" data-code="{{c.code}}" class="color-person hidden" value="{{c.code}}" />
        		</div>
        	{% endfor %}
        
        </div>
 #}	
    </div>
    
    <div class="panel">
{#         
        <div class="header">
        	<h1>Album Settings</h1>
        </div> #}
        
        <div class="panel-content">
            {# private or not #}
{#             <div class="form-group">
                <label for="private">Collapsed side menu?</label>
                <input type="checkbox" id="private" name="private" data-checkbox="yesToggle" checked>
            </div> #}
        
        </div>
	
	</div>

{# 
<button type="button" class="btn btn-success ladda-button save-button" data-style="zoom-out" data-function="PhotobumAdmin.saveAccountSettings"><span class="ladda-label">Save</span></button>
</div> #}

{% endblock content%}