{% extends 'Admin/base.html' %}
{% block content %}
<div class="container">


    <div class="panel">
    
        <div class="header">
            <h1>
                Users
                <button type="button" class="btn btn-default btn-xs" data-remote="/admin/users/add"><i class="fa fa-plus"></i></button>
            </h1>
        </div>
        
        <div class="panel-content" id="album-users">

            {% for row in data %}
            <div class="user-block">
                <div class="inner">
                    {{row.username}}
                    <time data-no-date="Never" data-utc="{{row.last_login}}" class="localdate timeago" datetime="{{row.last_login}}"></time>
                    {% if row.access_level == 100 %}Administrator{% endif %}
                    {% if row.access_level == 50 %}Editor{% endif %}
                    {{row.display_name}}
                    <button type="button" class="edit"  data-remote="/admin/users/edit/id/{{row.id}}">
                        <i class="fa fa-edit"></i>
                    </button>
                </div>
            </div>
            {% endfor %}
        
        </div>
    
    </div>

</div>
{% endblock content%}
